@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<h2><u>Welcome to your Dashboard</u></h2>

<div>
    <p>Current Time: @DateTime.Now.ToString("dd-MM-yyyy  HH:mm")</p>
    <br />
    <p>Projects: @Model.ProjectCount</p>
    <p>Tasks: @Model.TaskCount</p>
    <p>Completed Tasks: @Model.CompletedTaskCount</p>
</div>

<h3>Recent Activities:</h3>
<ul>
    @foreach (var log in Model.RecentActivityLogs)
    {
        <li>@log.Description - @log.Timestamp</li>
    }
</ul>

<h3>Upcoming Reminders:</h3>
<ul>
    @foreach (var reminder in Model.UpcomingReminders)
    {
        <li>@reminder.Message - @reminder.ReminderDate</li>
    }
</ul>
