@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1><u>Dashboard</u></h1>

<div class="mb-4">
    <a asp-controller="Project" asp-action="Index" class="btn btn-primary">
        View My Projects
    </a>
</div>

<div>
    <p>Current Time: @DateTime.Now.ToString("dd-MM-yyyy  HH:mm")</p>
    <br />
    <p>Projects: @Model.ProjectCount</p>
    <p>Tasks: @Model.TaskCount</p>
    <p>Completed Tasks: @Model.CompletedTaskCount</p>
</div>

<h3>Recent Activities:</h3>
<ul>
    @foreach (var log in Model.RecentActivityLogs)
    {
        <li>@log.Description - @log.Timestamp</li>
    }
</ul>

<h3>Upcoming Reminders:</h3>
<ul>
    @foreach (var reminder in Model.UpcomingReminders)
    {
        <li>@reminder.Message - @reminder.ReminderDate</li>
    }
</ul>
