@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Текущо време -->
<p>Current Time: @DateTime.Now.ToString("dd-MM-yyyy HH:mm")</p>

<!-- Заглавие -->
<h1 class="text-center"><u>Dashboard</u></h1>
<!-- Бутоните View My Projects и Reports -->
<div class="mb-4 text-center">
    <a asp-controller="Project" asp-action="Index" class="btn btn-primary">
        View My Projects
    </a>
    <a asp-controller="PerformanceReport" asp-action="Index" class="btn btn-danger ms-2">
        Reports
    </a>
</div>

<div class="row mt-4">
    <!-- (Projects, All Tasks, Completed Tasks) -->
    <div class="col-md-4">
            <p><h5><u>Projects:</u></h5> <b>@Model.ProjectCount</b></p>
            <p><h5><u>All Tasks:</u></h5><b>@Model.TaskCount</b></p>
            <p><h5><u>Completed Tasks:</u></h5> <b>@Model.CompletedTaskCount</b></p>
    </div>


    <div class="col-md-4">
        <div>
            <h3>Recent Activities:</h3>
            <ul>
                @foreach (var log in Model.RecentActivityLogs)
                {
                    <li>@Html.Raw(log.Description) - @log.Timestamp.ToString("dd-MM-yyyy HH:mm")</li>
                }
            </ul>
            <a asp-controller="ActivityLog" asp-action="Index" class="btn btn-secondary mt-2">
                View Logs
            </a>
        </div>
    </div>

    <!-- (Upcoming Reminders) -->
    <div class="col-md-4">
        <div>
            <h3>Upcoming Reminders:</h3>
            <ul>
                @foreach (var reminder in Model.UpcomingReminders)
                {
                    <li>@reminder.Message - @reminder.ReminderDate.ToString("dd-MM-yyyy HH:mm")</li>
                }
            </ul>
        </div>
    </div>
</div>